@import '../explorenorth/explorenorth.css';

.south-bg {
  background-image: url('https://images.unsplash.com/photo-1523544261025-3159599b1fc3?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

